click==7.1.2
ddtrace==0.44.0
Flask==1.1.2
intervaltree==3.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==3.6.1
marshmallow-enum==1.5.1
msgpack==1.0.8
mypy-extensions==0.4.4
protobuf==3.11.3
six==1.17.0
sortedcontainers==2.4.0
stringcase==1.2.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
Werkzeug==1.0.1
